table{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    border: 1px solid black;
}

tr, td{
    text-align: center;
    border: 1px solid black;
}

/*every other row is highlighted in the table*/
td :nth-child(even){
    background-color: azure;
}

/*removes bullet points from list*/
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: rgba(49, 47, 40, 0.246);
    overflow: hidden; 
}

li{
    float: left;
    border-right: 1px solid snow;
}

li:last-child{
    border-right: none;
}

/*makes 'a' element into a block, i.e. means that not only the text is selectable*/
li a, .dropdownBtn{
    display: inline-block;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    text-align: center;
}

/*changes color on hover over*/
li a:hover, .dropdown:hover .dropdownBtn{
    background-color: rgb(138, 136, 132);
    color: white;
}

/*changes color on select, add as a class*/
.active{
    background-color: rgba(206, 174, 11, 0.888);
    color: white;
}

/*style the button*/
.dropdownBtn{
    background-color: rgba(49, 47, 40, 0.246); /*change color of the dropdown menu to be the same as other options*/
    color: black; /*text color*/
    padding: 14px; /*keep the same as li padding*/
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/*positions the dropdown (parent)*/
li.dropdown{
    display: inline-block;
    position: absolute;
}

/*style the dropdown content (child)*/
.dropdownContent{
    display: none;
    position: relative;
    background-color: mediumaquamarine;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgb(9, 9, 9);
    z-index: 1;
}

/*content in the list*/
.dropdownContent a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/*color change on hover over links*/
.dropdownContent a:hover{
    background-color: brown;
}

/*display content on hover*/
.dropdown:hover .dropdownContent{
    display: block;
}

.column{
    float: left;
    height: 600px;/*for testing purposes comment out before done*/
}

.side{
    width: 10%;
    background-color: aliceblue;
}

.middle{
    width: 80%;
    background-color: aquamarine;
}

.divider{
    width: 50%;
}

.row:after{
    content: "";
    display: table;
    clear: both;
}
